.header {
  text-align: center;
  padding: 0 0 .5em;
}

h2 {
  margin: 2em 0;
}

.image {
  display: block;
  width: 48%;
  margin: 1%;

  @media screen and (min-width: 30em) {
    width: 23%;
  }

  img {
    width: 100%;
  }
}

.imageGrid {
  margin: .7em 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

.list {
  list-style: initial;
  margin-left: 0.4em;
}

.nestedList {
  margin-left: 1.2em;
}
