@import './resets.scss';
@import './typography.scss';

body {
  background: #ffe;
  color: rgba(51,0,0,0.9);

  box-shadow: inset -10 0 2rem rgba(0,0,0,0.125);
}

// ./components/footer shares this padding.
.main {
  padding: 1% 6%;
}

p {
  margin-bottom: 0.8em;
}

blockquote {
  font-style: italic;
  padding: 0.06em 2em;
}
