h1, h2, h3, h4 {
  font-family: Baskerville, Georgia, serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
  line-height: 1.25;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.3333;
  margin: 2em 0;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5;
}

a {
  color: #900;
}

body {
  font-size: 18px;
  line-height: 1.875;
  font-family: Georgia, serif;
}
