.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;

  padding: 1em 0;
}

.intro {
  margin-left: 1.4em;

  @media screen and (max-width: 45em) {
    margin-top: 1em;
    margin-left: 0;
  }
}
