.date {
  display: block;
  font-style: italic;
  margin-bottom: 0.4em;
}

.lead {
  font-size: 1.25em;
  line-height: 1.5;

  &:first-letter {
    font-family: Baskerville,Georgia,serif;
    font-size: 3em;
    line-height: .5;
  }
}

.tags {
  font-size: 0.7em;
  padding: 0.5em;
  background: rgba(0,0,0,0.05);
  border-radius: 1%;
}

.list {
  list-style: none;
}

.listItemTitle {
  display: block;
  color: #665;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1.4em;
}

// General Typography for blog posts ↓
.title {
  margin-bottom: 0.6em;
}
