.list {
  list-style: none;
}

.articleHead {
  text-align: center;
  margin-bottom: 2em;
}

.title {
  color: #665;
  font-weight: normal;
}

.date {
  color: #665;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
}

.lead {
  font-size: 1.25em;
  line-height: 1.5;

  &:first-letter {
    font-family: Baskerville,Georgia,serif;
    font-size: 3em;
    line-height: .5;
  }
}

.tags {
  font-size: 0.7em;
  padding: 0.5em;
  background: rgba(0,0,0,0.05);
  border-radius: 1%;
}
