.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1.2em;
  padding-bottom: 1em;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Baskerville, Georgia, serif;
  margin: 1em 0;

  @media screen and (max-width: 540px) {
    flex-flow: wrap;
    justify-content: center;
  }
}

.link {
    margin: 1em;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #900;
    border-color: #900;
    padding: 0 .5em;
    font-weight: normal;
    border-width: 2px 0;
    border-style: solid;
    display: block;
    text-align: center;

    @media screen and (max-width: 540px) {
      border: none;
      text-decoration: underline;
      margin: 0;
    }
}
